
/*____________Spalvos*/
body{
    background-color: rgb(186, 57, 50)
}

.bg-vilnius{
    background-color: rgba(241, 239, 233, 0.34);
}
.bg-panevezys{
  background-color: rgba(128, 0, 127, 0.51);
}
 .bg-kaunas{
background-color: rgba(186, 57, 50, 0.34)
}
/*____________baigiasi spalvos cia__*/


/*______________pozicija erdveje__________*/
.mtm-10{
  margin-top: -10rem;
}

div.col.mt-4{
    z-index: 1;
}



/*---------------pozicija erdveje baigiasi cia------------*/

.nuotrauka{
  position: relative;
  width: 400px;
  border: solid #000 2px;
  border-radius: 1%;
  margin: 1vh;

}
.miestas{
  position: relative;
  width: 100%;
}


h2{
  position: absolute;
  width: 100%;
  top: 150px;
}
